<!-- fragments/header.html -->
<header th:fragment="header">
    <div class="header-container">
        <div class="logo">
            <h1>WeatherWear</h1>
        </div>
        <nav class="main-nav">
            <ul>
                <li><a href="#">전체상품</a></li>
                <li><a href="#">계절별</a></li>
                <li><a href="#">커뮤니티</a></li>
            </ul>
        </nav>
        <div class="icon-container">
            <ul>
                <li><a href="#"><img src="/images/main_icon_1.png" alt="User"></a></li>
                <li><a href="#"><img src="/images/main_icon_2.png" alt="Delivery"></a></li>
                <li><a href="#"><img src="/images/main_icon_3.png" alt="Cart"></a></li>
                <li><a href="#"><img src="/images/main_icon_4.png" alt="Search"></a></li>
            </ul>
        </div>
    </div>
</header>
