<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Image Slider</title>
    <link th:href="@{/css/main_bn1.css}" rel="stylesheet">
    <script th:src="@{/js/main_bn1.js}"></script>
</head>
<body>
<section th:fragment="main_bn1" class="bn1-slider-container">
    <button class="bn1-arrow bn1-left-arrow" id="bn1PrevButton">&#10094;</button>
    <div class="bn1-slider" id="bn1Slider">
        <div class="bn1-slide">
            <img th:src="@{/images/main_img01.jpg}" class="bn1-image" alt="Slide 1">
        </div>
        <div class="bn1-slide">
            <img th:src="@{/images/main_img01.jpg}" class="bn1-image" alt="Slide 2">
        </div>
    </div>
    <button class="bn1-arrow bn1-right-arrow" id="bn1NextButton">&#10095;</button>
</section>
</body>
</html>
