<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/main_bn2.css}" rel="stylesheet">
<!--    <script th:src="@{/js/main_bn2.js}"></script>-->
    <script th:src="@{/js/weather_search.js}"></script>
</head>
<body>
<section th:fragment="main_bn2" class="bn2-slider-container">
    <button class="bn2-arrow bn2-left-arrow" id="bn2PrevButton">&#10094;</button>
    <div class="bn2-product-slider" id="productSlider">
        <!-- 상품 자동 추가됨 -->
    </div>
    <button class="bn2-arrow bn2-right-arrow" id="bn2NextButton">&#10095;</button>
</section>

</body>
</html>