<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!-- fragments/navbar.html -->
<nav th:fragment="navbar">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link th:href="@{/css/heather.css}" rel="stylesheet">
    <div class="header-container">
        <div class="logo">
            <h1>WeatherWear</h1>
        </div>
        <nav class="main-nav">
            <ul>
                <li><a href="#">전체상품</a></li>
                <li><a href="#">계절별</a></li>
                <li><a href="#">커뮤니티</a></li>
            </ul>
        </nav>
        <div class="icon-container">
            <ul>
                <li><a href="#"><i class="fa-regular fa-user" style="color: #000000;"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-truck" style="color: #000000;"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-bag-shopping" style="color: #000000;"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i></a></li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
