<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.7.1.js" crossorigin="anonymous"></script>
  <title>게시판</title>
</head>
<body>
<nav th:fragment="review_list">
  <div class="container">
    <input type="hidden" id="productId" th:value="${product.id}">
    <h1 th:text="|${customer.name}님 환영합니다.|"></h1>
    <input id="hiddenUserId" type="hidden" th:value="${customer.id}">
    <input id="hiddenUserLoginId" type="hidden" th:value="${customer.loginId}">
    <a href="#" class="btn" id="writeBtn">리뷰 작성하러 가기</a>
    <!-- 게시판 영역 -->
    <div id="board">
      <table>
        <thead>
        <tr>
          <th style="width: 5%;">글 번호</th> <!-- id -->
          <th style="width: 10%;">작성자</th> <!-- loginId -->
          <th style="width: 5%;">상품번호</th> <!-- productId -->
          <th style="width: 40%;">내용</th> <!-- content -->
          <th style="width: 20%;">이미지</th> <!-- picture -->
          <th style="width: 20%;">작성일</th>
        </tr>
        </thead>
        <tbody id="boardContent">
        <!-- Ajax를 통해 게시글 데이터가 여기에 동적으로 추가됨 -->
        </tbody>
      </table>
    </div>
    <!-- 페이징 영역 -->
    <div>
      <ul class="pagination" id="pagination">
        <!-- 동적으로 생성될 페이징 버튼 -->
      </ul>
    </div>
  </div>
</nav>
<script th:src="@{/js/review_list.js}"></script>
</body>
</html>
