body {
    font-family: 'Pretendard-Regular', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.8); /* 반투명 배경 */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: padding 0.3s ease, background-color 0.3s ease; /* 부드러운 전환 효과 */
}

.logo h1 a {
    margin: 0;
    font-size: 40px;
    text-decoration: none;
    color: black;
}

.main-nav {
    flex-grow: 1;
    text-align: center;
}

.main-nav ul {
    list-style: none;
    padding: 0;
}

.main-nav ul li {
    display: inline;
    margin: 0 15px;
}

.main-nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.icon-container {
    display: flex;
    align-items: center;
}

.icon-container ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.icon-container ul li {
    margin-left: 20px;
}

.icon-container ul li a {
    text-decoration: none;
    color: #000;
}

/* 스크롤 시 크기 조절 */
body.scrolled .header {
    padding: 5px 20px; /* 위 아래 패딩 감소 */
    background-color: rgba(255, 255, 255, 0.9); /* 배경을 조금 더 불투명하게 */
}

body.scrolled .header h1 {
    font-size: 20px; /* 로고 크기 감소 */
}
