@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body, html {
    font-family: 'Pretendard-Regular', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    max-width: 1298px;
    margin: 0 auto;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 32px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 2;
    user-select: none;
    color: #333;
    font-weight: bold;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

.product-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}

.product-item {
    width: 250px;
    flex: 0 0 auto;
    transition: transform 0.5s ease-in-out;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    margin-right: 10px;
}

.product-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-item h4 {
    font-size: 12px;
    font-weight: 900;
    margin: 10px 0 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.title {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    padding: 0 10px;
}

.price {
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0 18px 0;
}
