/* join.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    max-width: 1500px;
}

nav {
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #444;
}

input[type="button"]#cancel {
    width: 100%;
    background-color: darkslategray; /* 빨간색 배경 */
    color: white;             /* 흰색 텍스트 */
    border: none;/* 빨간색 테두리 */
    border-radius: 5px;       /* 테두리 둥글게 */
    padding: 12px 20px;       /* 내부 여백 */
    font-size: 16px;          /* 글자 크기 */
    cursor: pointer;          /* 포인터 모양을 손가락 모양으로 */
    margin-top: 3px;
}

input[type="button"]#cancel:hover {
    background-color: darkgrey; /* 마우스 호버 시 배경색 변경 */
}


.signup-link {
    margin-top: 20px;
    font-size: 14px;
}

.signup-link a {
    color: #007BFF;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}
