<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.7.1.js" crossorigin="anonymous"></script>
  <script th:src="@{/js/mypage.js}"></script>
  <link th:href="@{/css/mypage.css}" rel="stylesheet">
  <link th:href="@{/css/heather.css}" rel="stylesheet">
  <link th:href="@{/css/footer.css}" rel="stylesheet">

  <title>고객 페이지</title>
</head>
<body>
<header>
  <div th:replace="~{fragments/navbar :: navbar}"></div>
</header>

<div class="container">
  <aside class="sidebar">
    <h2><a th:href="@{/mypage}">마이페이지</a></h2>
    <ul>
      <li><a th:href="@{/mypage/history}" class="sidebar-button">구매목록</a></li>
      <li><a th:href="@{/mypage/shoppingcart}" class="sidebar-button">장바구니</a></li>
      <li><a th:href="@{/mypage/post}" >게시글</a></li>
      <li><a th:href="@{/mypage/edit}" class="sidebar-button">회원정보수정</a></li>
      <li><a th:href="@{/mypage/quitout}" class="sidebar-button">회원탈퇴</a></li>
    </ul>
    <button class="button" id="logout">로그아웃</button>
  </aside>

  <main class="main-content">

    <div class="welcome-section">
      <h1 th:text="|${customer.name}님 반갑습니다.|"></h1>
      <div class="divider"></div> <!-- 굵은 선 추가 -->
    </div>
  </main>
</div>

<footer>
  <div class="footer-container">
    <p>&copy; 2024 WeatherWear. All rights reserved.</p>
    <ul>
      <li><a href="#">개인정보 처리방침</a></li>
      <li><a href="#">이용 약관</a></li>
    </ul>
  </div>
</footer>

</body>
</html>
