<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/review_detail.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link th:href="@{/css/ootd_write.css}" rel="stylesheet">
    <link th:href="@{/css/heather.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    <title>리뷰상세 페이지</title>
</head>
<body class="ootd-registration-body">
<header>
    <div th:replace="~{fragments/navbar::navbar}"></div>
</header>
<main>
    <form id="ootdForm">
        <input type="hidden" id="customerId" name="customerId" th:value="${customerId}">
        <input type="hidden" id="productId" name="productId" th:value="${productId}">
        <input type="hidden" id="purchaseId" name="purchaseId" th:value="${purchaseId}">
        <h2>리뷰 상세</h2>
        <div class="ootd-row">
            <div class="ootd-col-md-4">
                <div class="ootd-image-upload">
                    <div class="review-image-placeholder">
                        <img th:src="@{${#strings.replace(review.picturePath,'src/main/resources/static', '')}}"
                             alt="리뷰 이미지"
                             class="review-image"
                             th:style="${review.picturePath != null} ? 'display: block;' : 'display: none;'" />
                    </div>
                </div>
            </div>
            <input type="text" id="content" name="content" th:value="${review.content}" class="content-input" readonly>
        </div>
        <a class="review-button" th:href="@{/review/edit/{prodid}/{purchid}(prodid=${productId}, purchid=${purchaseId})}">수정</a>
        <button class="review-button delete-button" id="deleteButton" type="button">삭제하기</button>
    </form>
</main>
<footer>
    <div class="footer-container">
        <p>&copy; 2024 WeatherWear. All rights reserved.</p>
        <ul>
            <li><a href="#">개인정보 처리방침</a></li>
            <li><a href="#">이용 약관</a></li>
        </ul>
    </div>
</footer>
</body>
</html>
