<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/main_bn1.js}"></script>
    <script th:src="@{/js/main_bn2.js}"></script>
    <link th:href="@{/css/main_bn1.css}" rel="stylesheet">
    <link th:href="@{/css/main_bn2.css}" rel="stylesheet">
    <script th:src="@{/js/weather_search.js}"></script>
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/heather.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
</head>
<body>
<header>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
</header>
<main>

<!--    <div th:replace="fragments/main_bn1 :: main_bn1"></div>-->

    <img src="/images/main_img01.jpg" >
    <h2 class="sub_title">오늘, 이 옷 어때?</h2>
    <p>날씨에 따라서 추천해드리는 핫 아이템</p>

    <section class="recommendation">
        <form class="recommendation-container" id="searchForm">
            <div class="dropdown-container">
                <label for="region">시/도</label>
                <select class="dropdown" id="region" name="region" onchange="populateSubRegions()"
                        autocomplete="region">
                    <!-- 대범위 지역 옵션 -->
                </select>

                <label for="region2">구/군</label>
                <select class="dropdown" id="region2" name="region2" autocomplete="region2">
                    <!-- 소범위 지역 옵션 -->
                </select>
                <button class="search-button" id="searchButton" type="button">검색</button>
                <!-- Weather Icon and Temperature -->
                <div class="weather-icon-container">
                    <img src="/images/snow.png" alt="Weather Icon" class="floating-icon">
                    <div class="temperature" id="weather-text"></div>
                </div>
            </div>
        </form>
    </section>
    <div th:replace="fragments/main_bn2 :: main_bn2"></div>

    <section class="special-items">
        <h2 class="sub_title">다음 시즌 마련, 다·시·마</h2>
        <img src="/resources/static/images/seaweed.png">
        <p>미리미리 준비하는 아이템</p>
        <div class="special-slider">
            <div class="special-item">
                <img src="/images/special_1.png" alt="Special Product 1">
                <h3>SPRING</h3>
                <p>봄과 어울리는 아이템</p>
            </div>
            <div class="special-item">
                <img src="/images/special_2.png" alt="Special Product 2">
                <h3>SUMMER</h3>
                <p>여름과 어울리는 아이템</p>
            </div>
            <div class="special-item">
                <img src="/images/special_3.png" alt="Special Product 3">
                <h3>FALL</h3>
                <p>가을과 어울리는 아이템</p>
            </div>
            <div class="special-item">
                <img src="/images/special_4.png" alt="Special Product 4">
                <h3>WINTER</h3>
                <p>겨울과 어울리는 아이템</p>
            </div>
        </div>
    </section>

</main>
<footer>
    <div class="footer-container">
        <p>&copy; 2024 WeatherWear. All rights reserved.</p>
        <ul>
            <li><a href="#">개인정보 처리방침</a></li>
            <li><a href="#">이용 약관</a></li>
        </ul>
    </div>
</footer>
</body>
</html>
