<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.js" crossorigin="anonymous"></script>
    <link th:href="@{/css/ootd_list.css}" rel="stylesheet">
    <script th:src="@{/js/ootd_list.js}"></script>
    <link th:href="@{/css/heather.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
</head>
<body>
<header>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
</header>
<main>
    <section class="ootd-items">
        <h2 class="sub_title">OOTD</h2>

        <a id="button_black" th:href="@{/user/ootd_write}" type="button">글 등록</a> <!-- 글 등록 버튼 추가 -->
        <div class="ootd_list">
            <div class="ootd-item" id="ootd-item-container">
                <!-- 이미지는 여기에 동적으로 로드됩니다 -->
            </div>
        </div>
        <button id="load-more" type="button">더보기</button>
    </section>

    <!-- 모달창을 위한 HTML 추가 -->
    <div id="ootdModal" class="modal" style="display: none;">
        <div class="modal-content" >
            <span class="close-btn" onclick="closeOotdModal()">&times;</span>
            <div class="modal-slider" >
                <img id="ootdModalImage" src="" alt="OOTD Image">
            </div>
            <div class="modal-details" id="productDetailsLink">
                <img id="ootdProductMainImage" src="" alt="상품 이미지" style="width: 100%; height: auto; border-radius: 10px;">
                <div class="modalInfoAll">
                    <p><span id="ootdProductTagName"></span></p>
                    <p><span id="ootdProductName"></span></p>
                    <p><span id="ootdProductPrice"></span></p>
                    <div class="modalInfo">
                        <p><span id="ootdProductCategory"></span> &nbsp;</p>
                        <p><span id="ootdProductSeason"></span> &nbsp;</p>
                        <p><span id="ootdProductTemperature"></span> &nbsp;</p>
                        <p><span ></span> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<footer>
    <div class="footer-container">
        <p>&copy; 2024 WeatherWear. All rights reserved.</p>
        <ul>
            <li><a href="#">개인정보 처리방침</a></li>
            <li><a href="#">이용 약관</a></li>
        </ul>
    </div>
</footer>
</html>
