<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/product_list.js}"></script>
    <link th:href="@{/css/product_list.css}" rel="stylesheet">
    <link th:href="@{/css/heather.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">


    <title>상품 목록 페이지</title>
</head>
<body>
<header>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
</header>
<main>


    <div class="container">

        <h2>상품 목록</h2>
        <div class="button-group">
            <a id="button_red" type="button">상품삭제</a>
            <a id="button_black" th:href="@{/admin/product/upload}" type="button">상품등록</a>
        </div>
        <table>
            <thead>
            <tr>
                <th class="th_1"><input type="checkbox" class="checkbox"></th>
                <th class="th_1">번호</th>
                <th class="th_2">이미지</th>
                <th class="th_3">상품명</th>
                <th class="th_2">가격</th>
                <th class="th_2">판매자명</th>
                <th class="th_1">카테고리1</th>
                <th class="th_1">카테고리2</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="checkbox" class="checkbox"></td>
                <td>01</td>
                <td><img src="/images/sample_img_01.jpeg" alt="상품 이미지"></td>
                <td>자켓</td>
                <td>70,000</td>
                <td>awn</td>
                <td>겨울</td>
                <td>8°C ~ 5°C</td>
            </tr>
            <tr>
                <td><input type="checkbox" class="checkbox"></td>
                <td>02</td>
                <td><img src="/images/sample_img_01.jpg" alt="상품 이미지"></td>
                <td>자켓</td>
                <td>70,000</td>
                <td>awn</td>
                <td>겨울</td>
                <td>8°C ~ 5°C</td>
            </tr>
            <tr>
                <td><input type="checkbox" class="checkbox"></td>
                <td>03</td>
                <td><img src="/images/sample_img_01.jpg" alt="상품 이미지"></td>
                <td>자켓</td>
                <td>70,000</td>
                <td>awn</td>
                <td>겨울</td>
                <td>8°C ~ 5°C</td>
            </tr>
            </tbody>
        </table>

    </div>
</main>
<footer>
    <div class="footer-container">
        <p>&copy; 2024 WeatherWear. All rights reserved.</p>
        <ul>
            <li><a href="#">개인정보 처리방침</a></li>
            <li><a href="#">이용 약관</a></li>
        </ul>
    </div>
</footer>
</body>
</html>
