<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/product_list.js}"></script>
    <link th:href="@{/css/product_list.css}" rel="stylesheet">
    <link th:href="@{/css/heather.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">

    <title>상품 목록 페이지</title>
</head>
<body>
<header>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
</header>
<main>
    <div class="container">
        <h2>상품 목록</h2>
        <div class="button-group">
            <button id="button_red" type="button">상품삭제</button>
            <a id="button_black" th:href="@{/admin/product/upload}" type="button">상품등록</a>
        </div>
        <table>
            <thead>
            <tr>
                <th class="th_1"><input type="checkbox" id="check_all" class="checkbox"/>전체선택</th>
                <th class="th_1">번호</th>
                <th class="th_2">이미지</th>
                <th class="th_3">상품명</th>
                <th class="th_2">가격</th>
                <th class="th_1">추천계절</th>
                <th class="th_1">추천온도</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product, iterStat : ${products}">
                <td><input type="checkbox" class="checkbox" th:value="${product.id}"/></td>
                <td th:text="${iterStat.count}"></td>
                <td>
                    <a th:href="@{/admin/product/detail/{id}(id=${product.id})}">
                        <img th:src="@{${#strings.replace(product.mainPicture,'src/main/resources/static', '')}}" th:alt="${product.name}"/>
                    </a>
                </td>
                <td>
                    <a th:href="@{/admin/product/detail/{id}(id=${product.id})}" th:text="${product.name}"></a>
                </td>
                <td th:text="${#numbers.formatDecimal(product.price, 1, 0)}"></td>
                <td th:text="${product.season == 1 ? '봄' : (product.season == 2 ? '여름' : (product.season == 3 ? '가을' : '겨울'))}"></td>
                <td th:text="${product.temperature == 1 ? '≥28°C' :
                          (product.temperature == 2 ? '27~23°C' :
                          (product.temperature == 3 ? '22~20°C' :
                          (product.temperature == 4 ? '19~17°C' :
                          (product.temperature == 5 ? '16~12°C' :
                          (product.temperature == 6 ? '11~9°C' :
                          (product.temperature == 7 ? '8~5°C' :
                          '≤4°C'))))))}">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<footer>
    <div class="footer-container">
        <p>&copy; 2024 WeatherWear. All rights reserved.</p>
        <ul>
            <li><a href="#">개인정보 처리방침</a></li>
            <li><a href="#">이용 약관</a></li>
        </ul>
    </div>
</footer>
</body>
</html>