<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/shoppingcart.js}"></script>
    <link th:href="@{/css/shoppingcart.css}" rel="stylesheet">
    <link th:href="@{/css/heather.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">


    <title>상품 목록 페이지</title>
</head>
<body>
<header>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
</header>

<main>
    <input type="hidden" id="customerId" th:value="${cart.customer.id}" />

    <div class="container">

        <h3 class="progress-title">
            <span class="step">SHOPPING BAG</span>
            <span class="separator">></span>
            <span class="step2">ORDER COMPLETE</span>
        </h3>
        <table>
            <thead>
            <tr>
                <th class="th_1"><input type="checkbox" id="selectAll" class="checkbox"/>전체선택</th>
                <th class="th_1">번호</th>
                <th class="th_3">상품정보</th>
                <th class="th_2">주문수량</th>
                <th class="th_2">주문금액</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product, iterStat : ${products}">
                <td class="th_1">
                    <input type="checkbox" class="checkbox" th:value="${product.id}" th:data-product-id="${product.id}">
                </td>
                <td class="th_1" th:text="${iterStat.count}"></td>
                <td class="product-info">
                    <a th:href="@{/user/product/detail/{id}(id=${product.id})}">
                        <img th:src="@{${#strings.replace(product.mainPicturePath,'src/main/resources/static', '')}}" th:alt="${product.name}"/>
                    </a>
                    <div class="product-details">
                        <a th:href="@{/user/product/detail/{id}(id=${product.id})}" th:text="${product.name}"></a>
                    </div>
                </td>
                <td>
                    <button class="decreaseBtn">-</button>
                    <span class="number quantity" th:text="${product.quantity}"></span>
                    <button class="increaseBtn">+</button>
                </td>
                <td class="th_2" th:text="${product.price} + ' 원'" th:attr="data-price=${product.price}"></td>
            </tr>
            </tbody>
        </table>
        <div class="cart-actions">
            <button class="delete-btn">선택상품삭제</button>
        </div>

        <div class="summary">
            <div class="total-info">
                <p> 총 주문금액:<span id="totalAmount"></span> +
                    배송비:<span id="totalShipping"></span> =
                    총 결제금액: <span id="grandTotal"></span></p>
            </div>
            <button class="order-btn" id="orderButton">주문하기</button>
        </div>
    </div>

</main>
<footer>
    <div class="footer-container">
        <p>&copy; 2024 WeatherWear. All rights reserved.</p>
        <ul>
            <li><a href="#">개인정보 처리방침</a></li>
            <li><a href="#">이용 약관</a></li>
        </ul>
    </div>
</footer>
</body>
</html>