<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.shoppingweather.mapper.CustomerMapper">

    <resultMap id="customerResultMap" type="org.example.shoppingweather.entity.Customer">
        <result property="login_id" column="login_id"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="address" column="address"/>
    </resultMap>

    <insert id="signUp" parameterType="org.example.shoppingweather.entity.Customer">
        INSERT INTO customer (login_id, password, name, email, phone, address)
        VALUES (#{login_id}, #{password}, #{name}, #{email}, #{phone}, #{address});
    </insert>

    <select id="signIn"
            parameterType="String"
            resultMap="customerResultMap">
        SELECT * FROM customer WHERE login_id = #{login_id};
    </select>

</mapper>
